* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
}
main {
    width: 100%;
}

/* HEADER */

header {
    padding: 22px 20px;
    position: absolute;
    width: 100%;
}
nav { 
    font-family: "bebas neue", sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}
nav a { 
    text-decoration: none;
    color: #e8e0c3;
    font-size: 20px;
    margin-right: 15px;
    flex-direction: row;
}

/* PORTADA */
.portada {
    width: 100%;
}

.imagen-portada {
    width: 100%;

}

.contenido-texto {
    margin-top: -40vh; 
    padding-left: 80px;
    box-sizing: border-box;
}

.titulo { 
    color: darkorange;
    font-family: "Passion One", sans-serif;
    font-size: 10vw; 

}

.subtitulo {
    color: floralwhite;
    font-size: 50px;
    font-family: "Passion One", sans-serif;
    margin: 0;
}
/* PRESENTACIÓN */

.presentacion {
    background-color: darkorange;
    color: floralwhite;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.presentacion p {
    width: 100%;
    font-family: "bebas neue", sans-serif;
    font-size: 25px;
    line-height: 1.4;
}
.presentacion h2 {
    width: 100%;
    font-family: "bebas neue", sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 40px;
}
.presentacion ul {
    font-family: "bebas neue", sans-serif;
    font-size: 25px;
    line-height: 1.4;
    margin-top: 20px;
}

.presentacion li {
    margin-bottom: 12px;
}

.presentacion strong {
    color:floralwhite;
    letter-spacing: 1px;
}

/* FRANJAS PROYECTOS e HABILIDADES  */ 

.habilidades {
    background-color: floralwhite;
    color: darkorange;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.habilidades h2 {
    font-family: "bebas neue", sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 40px;
}
.habilidades p {
    width: 100%;
    font-family: "bebas neue", sans-serif;
    font-size: 25px;
    line-height: 1.4;
}
.programas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.programas img {
    margin: 15px;
}

.trabajos {
    background-position: center;
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
}
.trabajos h2 {
    color: darkorange;
    font-family: "Passion One", sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
    letter-spacing: -1px;
}
.proyecto {
    width: 350px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px;
    border-radius: 8px; 
}

.proyecto h3 {
    font-size: 30px;
    font-family: "bebas neue", sans-serif;
    font-weight: bold;
    color: floralwhite;
}
.proyecto p {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;   
    font-family: "bebas neue", sans-serif;
    color: floralwhite;
}
.btn-vermas {
    font-family: "bebas neue", sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    color: #101010;
    background-color: floralwhite;
    text-decoration: none;
}

.trabajos-puro {
    background-image: url("img/img03.jpg");
}
.puro-movimiento {
    width: 100%;
    height: 100%;

}
.caja-puro {
    background-color: rgba(237, 151, 20, 0.5);
}

/* Proyecto 2 */
.trabajos-camerun {
    background-image: url("img/img04.jpg");
}

.caja-camerun {
    background-color: rgba(237, 151, 20, 0.5);
}

/* Proyecto 3 */
.trabajos-patagonica {
    background-image: url("img/img02.jpg"); 
}
.caja-patagonica {
    background-color: rgba(237, 151, 20, 0.5);
}

/* FOOTER */

footer {
    width: 100%;
    background-color: #e44c06;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color:floralwhite;
    font-family: "bebas neue", sans-serif;
    font-size: 14px;
}
footer ul {
    display: flex;
    list-style: none;
    margin: 20px;
}

footer a {
    display: flex;
    align-items: center;
    color: floralwhite;
    text-decoration: none;
}

footer img {
    width: 25px;
    height: 25px;
}
